.menu-list {
    display: none;
}

.menu-button {
    padding: 16px;
    background-color: darkgreen;
    opacity: 0.8;
    cursor: pointer;
}

.menu-button:hover {
    opacity: 1;
    font-size: 16px;
    color: white;
}

.dropdown {
    padding: 16px;
    margin-top: 16px;
}