.header {
    background-color: darkturquoise;
    height: 40px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header nav li {
    float: left;
    margin-left: 20px;
    position: relative;
    bottom: 5px;
    color: white;
    list-style-type: none;
}

main {
    background-color: beige;
    height: 5000px;
}

.head {
    width: 200px;
    height: 200px;
    background-color: aqua;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    left: 9%;
    z-index: 1;
}

.ear_ear_right {
    width: 40px;
    height: 60px;
    background-color: brown;
    position: absolute;
    right: -40px;
    top: -60px;
}

.ear_ear_left {
    width: 40px;
    height: 60px;
    background-color: brown;
    position: absolute;
    left: -40px;
    top: -60px;
}

.eye_eye_right {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: grey;
    position: absolute;
    top: 80px;
    left: 40px;
}

.eye_eye_left {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: grey;
    position: absolute;
    top: 80px;
    right: 40px;
}