.conteyner {
    display: flex;
}

.block_block_red,
.block_block_green,
.block_block_blue,
.block_block_yellow,
.block_block_black {
    height: 300px;
    flex-grow: 1;
}

.block_block_red {
    background-color: red;
}

.block_block_green {
    background-color: green;
}

.block_block_blue {
    background-color: blue;
}

.block_block_yellow {
    background-color: yellow;
}

.block_block_black {
    background-color: black;
}