.horizontal {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}

span {
    margin: auto;
}

.vertical {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
    align-items: space-around;
}