$sm: 600px;
$md: 899px;
$lg: 1199px;
@mixin small {
    @media screen and (max-width: $sm) {
        @content;
    }
}

@mixin middle {
    @media screen and (max-width: $md) {
        @content;
    }
}

@mixin large {
    @media screen and (max-width: $lg) {
        @content;
    }
}

@mixin max {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin gorizont {
    @media screen and (orientation: landscape) {
        @content;
    }
}