@import 'breakpoints.scss';
* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.square {
    width: 100px;
    height: 100px;
    margin: 16px;
    background-color: #ff7f50;
    @include max {
        background-color: #c47;
    }
    @include large {
        background-color: #a61;
    }
    @include middle {
        background-color: #8a2be2;
    }
    @include small {
        background-color: #ff7f50;
    }
    @include portrat {
        display: inline-block;
    }
}